<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.kuestegegenplastik.replaceplastic" id="com.kuestegegenplastik.replaceplastic" ios-CFBundleIdentifier="com.kuestegegenplastik.replacep" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ReplacePlastic</name>
    <description>
      Mit dieser App wollen wir den Herstellern von Produkten sagen, dass wir uns andere Verpackungen wünschen.
      Damit sie endlich anfangen, beim Produktdesign auf umweltverträgliche Verpackungen zu achten und die
      Entwicklung von abbaubaren Materialien voranzutreiben.
    </description>
    <author email="post@kueste-gegen-plastik.de" href="http://www.kueste-gegen-plastik.de">
        Küste gegen Plastik e.V.
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="AndroidWindowSoftInputMode" value="adjustPan" />
    <preference name="AndroidConfigChanges" value="orientation|keyboardHidden" />
    <preference name="DisallowOverscroll" value="true" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeOut" value="true" />
    <preference name="FadeOutDuration" value="0.5" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="LoadingDialog" value="ReplacePlastic lädt..." />
    </platform>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="onload" value="true" />
    </feature>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="www/img/Default@2x~universal~anyany.png" />
    </platform>
    <preference name="FadeSplashScreen" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~6.0.6" />
    <plugin name="cordova-plugin-android-permissions" spec="~0.11.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-ios-camera-permissions" spec="~1.1.1" />
    <plugin name="cordova-plugin-launchscreen-storyboard" spec="~2.0.0" />
    <variable name="CAMERA_USAGE_DESCRIPTION" value="To scan barcodes." />
    <variable name="MICROPHONE_USAGE_DESCRIPTION" value="This app needs microphone access" />
    <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="This app needs photo library access" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.3" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.4.1" />
</widget>
