.form {

  &__legend {
    font-family: 'Slabo 27px';
    font-size: 64px;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 4.347826087vw;
    padding-left: 10.0869565217vw;
  }
  &__description {
    font-style: italic;
    font-size: 30px;
  }
  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__formrow {
    position: relative;
    padding: 1.2vh 0;
  }
  &__label {
    color: #033c6a;
    font-family: 'Slabo 27px';
    position: absolute;
    left: 30px;
    top: 3.2rem;
    transition: all .2s ease-out;
    sup {
      color: #f76259;
    }
    &--filled {
      top: -30px;
      left: 0;
      padding: 2px 5px;
      text-shadow: 2px 2px 2px #225a83;
      color: #fff;
    }
  }
  &__input {
    height: 8rem;
    width: calc(100% - 60px);
    border: none;
    border-bottom: 5px solid #033c6a;
    font-size: 40px;
    padding: 0 30px;
    font-family: 'Slabo 27px';
  }
  &__button {
    background: #f86259;
    color: #fff;
    font-family: 'Slabo 27px';
    font-size: 40px;
    border: none;
    border-bottom: 5px solid rgba(0,0,0,.17);
    padding: 1.7vh 5vw;
    margin-top: 2vh;
  }
}
