.step {
  position: relative;
  height: 74vh;
  overflow: hidden;
  margin-top: 2vh;
  &--1,
  &--2 {
      height: 84vh;
  }
  &__inner {
    height: 100%;
    margin: 4.347826087vw 0 0 4.347826087vw;
    padding: 0 10.0869565217vw;
  }
  &__number {
    position: absolute;
    top: 15px;
    left: 4.347826087vw;
    width: 6.0869565217vw;
    height: 6.0869565217vw;
    border-radius: 50%;
    color: #004d8e;
    background: #fff;
    text-align: center;
    line-height: 6.0869565217vw;
    font-size: 30px;
  }
  &__line {
    position: absolute;
    top: 5vh;
    bottom: 0;
    background: #fff;
    width: 3px;
    left: 7.2vw;
  }
}
.headline {
  font-family: 'Slabo 27px';
  font-weight: normal;
  &--primary {
    margin-left: 4.347826087vw;
    padding-left: 10.0869565217vw;
    margin-top: 1vh;
    font-size: 55px;
  }
  &--secondary {
    font-size: 48px;
  }
  &--tertiary {
    font-size: 42px;
  }
}
